.modal-window {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%) scale(0.9);
    width: 40%;
    max-width: 95%;
    min-height: 200px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: all 0.18s ease-in-out;
    visibility: hidden;
    opacity: 0;
    padding: 25px;
    border-radius: 20px;
}

.modal-window.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
}

.modal-close {
    font-weight: bold;
    text-align: right;
    color: #E07153;
    font-size: 20px;
}
