<div class="product-detail">
    <div class="product-image">
        <img src="{{ product.photo.url }}" alt="product-image">
    </div>
    <div class="product-info">
        <h2>{{ product.category.name }} "{{ product.name }}"</h2>
        <div class="product-attributes">
            {% for attribute in product.product_attributes.all %}
                <div class="product-attribute">
                    <p class="attr-name">{{ attribute.attribute.name }}</p>
                    <p class="attr-value">{{ attribute.value }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="product-ingredients">
            <p>Состав:</p>
            {% for ingredient in product.product_ingredients.all %}
                <span>{{ ingredient.ingredient.name }}</span>
            {% endfor %}
        </div>
        <div class="product-footer">
            <div class="product-order-detail">
                <div class="product-price">
                    <span>{{ product.price }}</span> <strong>₽</strong>
                </div>
                <div class="product counter">
                    <span class="decrement">—</span>
                    <div class="counter-value"></div>
                    <span class="increment">+</span>
                </div>
            </div>
            <div class="product-footer__buttons">
                <a href="#!" class="order-button form-submit js-modal" data-modal="#instant_order">Заказать</a>
                <a href="#!" class="order-button form-submit">В корзину</a>
            </div>
        </div>
    </div>
</div>
