{% extends 'global/base.html' %}{% load static %}
{% block title %} {{ title }} {% endblock title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'global/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/login.css' %}">
{% endblock extra_head %}
{% block body %}
    <div class="auth-form-container">
        {% if login %}
            {% include 'users/include/forms/signin.html' %}
        {% else %}
            <p>Signup Form</p>
        {% endif %}
    </div>
{% endblock body %}
